* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  overflow: hidden;
  font-size: 14px;
}

.background {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background: url("./img/bg.gif");
}
.background .outBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 600px;
  padding-right: 180px;
  padding-bottom: 30px;
  background: url("./img/home.gif") center/cover no-repeat;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.background .outBox .wrapper {
  display: flex;
  height: 435px;
}
.background .outBox .wrapper .profile {
  width: 180px;
  height: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background .outBox .wrapper .profile .profileToday {
  text-align: center;
}
.background .outBox .wrapper .profile .profileToday b {
  color: #fa822e;
}
.background .outBox .wrapper .profile .profileBody .profileTop .profileFeel form select {
  width: 180px;
  height: 30px;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}
.background .outBox .wrapper .profile .profileBody .profileTop .profileimg {
  margin: 20px auto 0px;
  width: 170px;
}
.background .outBox .wrapper .profile .profileBody .profileTop .profileimg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.background .outBox .wrapper .profile .profileBody .profileTop .profileMessage {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  font-size: 13px;
}
.background .outBox .wrapper .profile .profileBody .profileTop .profileMessageEdit {
  width: 100%;
  height: 90px;
}
.background .outBox .wrapper .profile .profileBody .profileTop .EditBtn {
  width: 40px;
  margin: 6px;
  margin-left: 0;
}
.background .outBox .wrapper .profile .profileBody .onEdit {
  width: 100%;
  height: 100px;
}
.background .outBox .wrapper .profile .profileBody .profileCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  border-bottom: 1px solid #999;
  cursor: pointer;
}
.background .outBox .wrapper .profile .profileBody .profileCenter > div:nth-child(1) span > i {
  color: #55b2e4;
}
.background .outBox .wrapper .profile .profileBody .profileCenter > div:nth-child(2) {
  height: 100%;
  display: flex;
}
.background .outBox .wrapper .profile .profileBody .profileCenter > div:nth-child(2) i {
  font-size: 1.3rem;
  color: #999;
}
.background .outBox .wrapper .profile .profileBody .profileBottom {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px 6px;
  font-size: 1.1rem;
}
.background .outBox .wrapper .profile .profileBody .profileBottom > span:nth-child(1) {
  color: #999;
}
.background .outBox .wrapper .profile .profileBody .profileBottom > span:nth-child(1) b {
  color: #55b2e4;
}
.background .outBox .wrapper .profile .profileBody .profileBottom > span:nth-child(2) {
  color: #fa822e;
}
.background .outBox .wrapper .contents {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.background .outBox .wrapper .contents .contentTop {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  padding-right: 100px;
}
.background .outBox .wrapper .contents .contentTop .contentsTitle {
  display: flex;
  gap: 10px;
  font-size: 1.4rem;
}
.background .outBox .wrapper .contents .contentTop .contentsTitleEdit {
  width: 300px;
  height: 23px;
}
.background .outBox .wrapper .contents .contentTop .contentsTitleEdit:focus {
  outline: none;
}
.background .outBox .wrapper .contents .contentTop .contentEditBtn {
  position: absolute;
  top: 0;
  background: #bbb;
  color: #fff;
  border: none;
  padding: 3px 6px;
  font-size: 0.9rem;
  border-radius: 6px;
  margin-bottom: 2px;
  cursor: pointer;
}
.background .outBox .wrapper .contents .contentTop .contentEditBtn:nth-of-type(1) {
  right: 55px;
}
.background .outBox .wrapper .contents .contentTop .contentEditBtn:nth-of-type(2) {
  right: 15px;
}
.background .outBox .wrapper .contents .contentTop .titleEditBtn {
  position: absolute;
  top: 0;
  right: 55px;
  background: #bbb;
  color: #fff;
  padding: 3px 6px;
  font-size: 0.9rem;
  border-radius: 6px;
  margin-bottom: 2px;
  cursor: pointer;
}
.background .outBox .wrapper .contents .contentTop .setting {
  cursor: pointer;
  color: #fa822e;
}
.background .outBox .wrapper .contents .contentFrame {
  display: flex;
  width: 550px;
  height: 100%;
}
.background .outBox .wrapper .contents .contentFrame iframe {
  width: 100%;
  height: 100%;
}
.background .outBox .wrapper .navigation {
  position: relative;
  cursor: pointer;
}
.background .outBox .wrapper .navigation .navItems {
  position: absolute;
  top: 70px;
  right: -117px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.background .outBox .wrapper .navigation .navItems .navItem {
  width: 85px;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #55b2e4;
  border-radius: 0 6px 6px 0;
  padding: 12px 16px;
  transition: all 0.3s;
}
.background .outBox .wrapper .navigation .navItems .navItem:hover {
  background: #fff;
}
.background .outBox .wrapper .navigation .navItems .navItem.active {
  background: #fff;
  color: #55b2e4;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */